
.navbar-nav .mr-auto ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.active .nav-item .mr-2 li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/*--  Change the link color on hover -------*/

.nav-link li a:hover {
    background-color: #555;
    color: #fff;
}

li a.active {
    background-color: #4CAF50;
    color: #fff;
}

li a:hover:not(.active) {
    background-color: #555;
    color: #fff;
}
/*-- Main btn link-------*/

.btn {
  background-color: #2176FF;
  border-radius: 2px;
  color: #ffffff;
  font-family: 'Raleway',   sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  
}

.btn:hover {
  background-color: #fff;
  color: #2176FF;
  transition: color .1s ease-in, background-color .1s ease-in;
}
 
.btn:active {
  font-size: 18px;
  transition: font-size .1s ease-in-out;
}

/* ----Activity Buttons ---*/

.activity:hover {
  background-color: #fff;
  color: #5495ff;
  transition: color .1s ease-in, background-color .1s ease-in;
}
 
.activity:active {
  font-size: 40px;
  transition: font-size .1s;
}

